DEBUG=False
SECRET_KEY=
ALLOWED_HOSTS=

MODEL_DIR=./models

SUPABASE_URL=https://rzaoepzodxaffrknblzy.supabase.co
SUPABASE_SERVICE_ROLE_KEY=

TMDB_API_KEY=
TMDB_READ_ACCESS_TOKEN=

FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=

